# AI Libraies
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
langchain-text-splitters
langchain-pymupdf4llm
langchain_chroma
chromadb

# ENV Libraries
python-dotenv

# Other Libraries
pymupdf
streamlit